body {
  background: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

.box {
  background: #111;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

#aiSuggestion {
  margin: 20px;
  padding: 15px;
  background: #0f172a;
  color: #00ffcc;
  font-weight: bold;
  border-radius: 10px;
}

.note {
  color: gray;
  font-size: 12px;
}
